<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>FINAL EXAM | GOIT FE#6</title>

	<link rel="stylesheet" href="https://npmcdn.com/flickity@1.2/dist/flickity.min.css">
	<link rel="stylesheet" href="css/style.css">

	<script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
	<script src="https://npmcdn.com/flickity@1.2/dist/flickity.pkgd.min.js"></script>
	<script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
	<script src="js/script.js"></script>

</head>
<body>

<section class="promo">
<div class="wrapper">
	<div class="actions">
		<a href="#" class="actions__btn actions__btn--login">Log in</a>
		<a href="#" class="actions__btn actions__btn--signup">Sign up</a>
	</div>

	<div class="promo__title">
		URLAUBSGLÜCK
	</div>
	<div class="promo__slogan">
		Share your
		holiday dreams
	</div>
	<div class="promo__text">
		And find the perfect partner
		to fullfill it
	</div>

	<a href="#" class="btn promo__btn">
		Find your holiday partner
	</a>

</div>
</section>

<section class="how-we-work">
<div class="wrapper">
	<div class="section__title">
		How Urlaubsglück works?
	</div>

	<div class="hww-items">
		<div class="hww-item">
			<div class="hww-item__slider">
				<div class="hww-item__slide hww-item__slide--step1">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 1
						</div>
						<div class="hww-item__title">
							Sed leo enim, condimentum
						</div>
						<div class="hww-item__desc">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</div>
					</div>
				</div>
				<div class="hww-item__slide hww-item__slide--step2">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 2
						</div>
						<div class="hww-item__title">
							Morbi velit risus
						</div>
						<div class="hww-item__desc">
							Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						</div>
					</div>
				</div>
				<div class="hww-item__slide hww-item__slide--step3">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 3
						</div>
						<div class="hww-item__title">
							Sed leo enim, condimentum
						</div>
						<div class="hww-item__desc">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</div>
					</div>
				</div>
			</div>

			<div class="hww-item__button hww-item__button--prev"></div>
			<div class="hww-item__button hww-item__button--next"></div>

		</div
		><div class="hww-item">
			<div class="hww-item__slider">
				<div class="hww-item__slide hww-item__slide--step2">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 2
						</div>
						<div class="hww-item__title">
							Morbi velit risus
						</div>
						<div class="hww-item__desc">
							Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						</div>
					</div>
				</div>
				<div class="hww-item__slide hww-item__slide--step3">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 3
						</div>
						<div class="hww-item__title">
							Sed leo enim, condimentum
						</div>
						<div class="hww-item__desc">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</div>
					</div>
				</div>
				<div class="hww-item__slide hww-item__slide--step1">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 1
						</div>
						<div class="hww-item__title">
							Sed leo enim, condimentum
						</div>
						<div class="hww-item__desc">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</div>
					</div>
				</div>
			</div>

			<div class="hww-item__button hww-item__button--prev"></div>
			<div class="hww-item__button hww-item__button--next"></div>

		</div
		><div class="hww-item">
			<div class="hww-item__slider">
				<div class="hww-item__slide hww-item__slide--step3">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 3
						</div>
						<div class="hww-item__title">
							Sed leo enim, condimentum
						</div>
						<div class="hww-item__desc">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</div>
					</div>
				</div>
				<div class="hww-item__slide hww-item__slide--step1">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 1
						</div>
						<div class="hww-item__title">
							Sed leo enim, condimentum
						</div>
						<div class="hww-item__desc">
							Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.
						</div>
					</div>
				</div>
				<div class="hww-item__slide hww-item__slide--step2">
					<div class="hww-item__content">
						<div class="hww-item__step">
							Step 2
						</div>
						<div class="hww-item__title">
							Morbi velit risus
						</div>
						<div class="hww-item__desc">
							Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.
						</div>
					</div>
				</div>
			</div>

			<div class="hww-item__button hww-item__button--prev"></div>
			<div class="hww-item__button hww-item__button--next"></div>

		</div>

	</div>
</div>
</section>


<section class="partners">
<div class="wrapper">
	<div class="section__title">
		Meet a partner for your best holiday
	</div>

	<div class="partner__wrap">
		<div class="partner">
			<div class="partner__img">
				<img src="img/partner1.png" alt="">
				<div class="partner__hobby partner__hobby--tv"></div>
			</div>
			<div class="partner__name">
				Bradley Hunter
			</div>
			<div class="partner__desc">
				Based in Chicago. I love playing tennis and loud music.
			</div>
		</div

		><div class="partner">
			<div class="partner__img">
				<img src="img/partner2.png" alt="">
				<div class="partner__hobby partner__hobby--science"></div>
			</div>
			<div class="partner__name">
				Lucas Marsha
			</div>
			<div class="partner__desc">
				I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
			</div>
		</div

		><div class="partner">
			<div class="partner__img">
				<img src="img/partner3.png" alt="">
				<div class="partner__hobby partner__hobby--coffee"></div>
			</div>
			<div class="partner__name">
				Heather Walker
			</div>
			<div class="partner__desc">
				I'm a happy person that loves cats and climbing on mountains.
			</div>
		</div

		><div class="partner">
			<div class="partner__img">
				<img src="img/partner4.png" alt="">
				<div class="partner__hobby partner__hobby--msg"></div>
			</div>
			<div class="partner__name">
				Bradley Hunter
			</div>
			<div class="partner__desc">	
				Based in Chicago. I love playing tennis and loud music.
			</div>
		</div>
	</div>

	<a href="#" class="btn partners__btn">
		See other partners
	</a>
</div>
</section>

<section class="ideas">
<div class="wrapper">
	<div class="section__title">
		Discover holiday activity ideas
	</div>

	<div class="ideas__block">
		<figure class="ideas__item">
			<img src="img/idea1.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Sport and Activity</figcaption>
			</div>
		</figure>
		<figure class="ideas__item">
			<img src="img/idea2.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Wellnes and Health</figcaption>
			</div>
		</figure>
		<figure class="ideas__item">
			<img src="img/idea3.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Extreme Sports and Expeditions</figcaption>
			</div>
		</figure>
		<figure class="ideas__item">
			<img src="img/idea4.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Games</figcaption>
			</div>
		</figure>
		<figure class="ideas__item ideas__item--width2">
			<img src="img/idea5.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Culture and Education</figcaption>
			</div>
		</figure>
		<figure class="ideas__item ideas__item--width2">
			<img src="img/idea6.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Relaxation</figcaption>
			</div>
		</figure>
		<figure class="ideas__item">
			<img src="img/idea7.jpg" alt="">
			<div class="ideas__center">
				<figcaption class="ideas__text">Travelling</figcaption>
			</div>
		</figure>
		<div class="ideas__sizer"></div>
	</div>

</div>
</section>

<section class="search">
<div class="wrapper">
	<div class="section__title">
		Discover holiday activity ideas
	</div>

	<form action="" method="" class="search-form">
		<div class="search-form__title">
			Hi! What are your holiday interests?
		</div>

		<input type="text" class="search-form__input" placeholder="Enter your interests">

		<button type="submit" class="btn search-form__btn">Search partners</button>
	</form>
</div>
</section>

<section class="footer">
<div class="wrapper">
	<div class="footer__block footer__logo">
		URLAUBSGLÜCK
	</div>
	
	<div class="footer__block">
		<div class="footer__heading">Company</div>
		<ul class="footer__menu">
			<li><a href="#">About</a></li>
			<li><a href="#">Contacts</a></li>
			<li><a href="#">Press</a></li>
			<li><a href="#">Blog</a></li>
		</ul>
	</div>

	<div class="footer__block">
		<div class="footer__heading">Partners</div>
	</div>

	<div class="design">
		<div class="design__desc">
			Designed by
		</div>
		<div class="design__img">
			<img src="img/areto.png" alt="Areto">
		</div>
	</div>
</div>		
</section>



<script type="text/template" id="ideas__template">
	<% for (var i = 0; i < data.length; i++) { %><figure
		class="ideas__item<% if (i==4 || i==5) { %> ideas__item--width2<% } %>">
			<img src="<%= data[i].webformatURL %>" alt="<%= data[i].tags %>">
			<div class="ideas__center">
				<figcaption class="ideas__text"><%= data[i].tags %></figcaption>
			</div>
		</figure
	><% } %>
    <div class="ideas__sizer"></div>
</script>

</body>
</html>