// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$partner-hobby-coffee-name: 'partner-hobby-coffee';
$partner-hobby-coffee-x: 0px;
$partner-hobby-coffee-y: 0px;
$partner-hobby-coffee-offset-x: 0px;
$partner-hobby-coffee-offset-y: 0px;
$partner-hobby-coffee-width: 17px;
$partner-hobby-coffee-height: 17px;
$partner-hobby-coffee-total-width: 36px;
$partner-hobby-coffee-total-height: 35px;
$partner-hobby-coffee-image: 'sprite.png';
$partner-hobby-coffee: (0px, 0px, 0px, 0px, 17px, 17px, 36px, 35px, 'sprite.png', 'partner-hobby-coffee', );
$partner-hobby-msg-name: 'partner-hobby-msg';
$partner-hobby-msg-x: 0px;
$partner-hobby-msg-y: 19px;
$partner-hobby-msg-offset-x: 0px;
$partner-hobby-msg-offset-y: -19px;
$partner-hobby-msg-width: 17px;
$partner-hobby-msg-height: 16px;
$partner-hobby-msg-total-width: 36px;
$partner-hobby-msg-total-height: 35px;
$partner-hobby-msg-image: 'sprite.png';
$partner-hobby-msg: (0px, 19px, 0px, -19px, 17px, 16px, 36px, 35px, 'sprite.png', 'partner-hobby-msg', );
$partner-hobby-science-name: 'partner-hobby-science';
$partner-hobby-science-x: 19px;
$partner-hobby-science-y: 19px;
$partner-hobby-science-offset-x: -19px;
$partner-hobby-science-offset-y: -19px;
$partner-hobby-science-width: 13px;
$partner-hobby-science-height: 16px;
$partner-hobby-science-total-width: 36px;
$partner-hobby-science-total-height: 35px;
$partner-hobby-science-image: 'sprite.png';
$partner-hobby-science: (19px, 19px, -19px, -19px, 13px, 16px, 36px, 35px, 'sprite.png', 'partner-hobby-science', );
$partner-hobby-tv-name: 'partner-hobby-tv';
$partner-hobby-tv-x: 19px;
$partner-hobby-tv-y: 0px;
$partner-hobby-tv-offset-x: -19px;
$partner-hobby-tv-offset-y: 0px;
$partner-hobby-tv-width: 17px;
$partner-hobby-tv-height: 17px;
$partner-hobby-tv-total-width: 36px;
$partner-hobby-tv-total-height: 35px;
$partner-hobby-tv-image: 'sprite.png';
$partner-hobby-tv: (19px, 0px, -19px, 0px, 17px, 17px, 36px, 35px, 'sprite.png', 'partner-hobby-tv', );
$spritesheet-width: 36px;
$spritesheet-height: 35px;
$spritesheet-image: 'sprite.png';
$spritesheet-sprites: ($partner-hobby-coffee, $partner-hobby-msg, $partner-hobby-science, $partner-hobby-tv, );
$spritesheet: (36px, 35px, 'sprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
