@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Roboto:300');
@import 'reset';
@import 'sprite';

$Montserrat 	: 'Montserrat', sans-serif;
$Roboto 		: 'Roboto', sans-serif;
$baseColor		: #ff4e50;
$btnBorderRad 	: 20px;


@mixin sprite($sprite) {
	$sprite-image: nth($sprite, 9);
	$sprite-height: nth($sprite, 6);
	$sprite-width: nth($sprite, 5);
	content: '';
	display: block;
	background: url(../img/#{$sprite-image});
	@include sprite-position($sprite);
	width: $sprite-width;
	height: $sprite-height;
	margin-left: -$sprite-width / 2;
	margin-top: -$sprite-height / 2;
	overflow: hidden;
}

@mixin media($break) {
	@if $break == tablet {
		@media (min-width: 768px) { @content; }
	}
	@else if $break == desktop {
		@media (min-width: 940px) { @content; }
	}
	@else if $break {
		@media (min-width: $break) { @content; }
	}
}

%display-inline-block {
	display: inline-block;
	vertical-align: top;
}


body {
	font: 700 14px $Montserrat;
	letter-spacing: .1px;
}
.wrapper {
	min-width: 300px;
	margin: 0 auto;

	@include media(tablet) {
		max-width: 748px;
	}
}
.section__title {
	font-size: 22px;
	text-align: center;
}
.btn {
	display: inline-block;
	width: 280px;
	background: $baseColor;
	border: 0;
	border-radius: $btnBorderRad;
	color: #fff;
	line-height: 40px;
}
.promo {
	min-height: 540px;
	padding: 20px 0;
	background: url(../img/promo-bg.jpg) 48.5% -10px;
	color: #fff;
	text-align: center;

	@include media(tablet) {
		min-height: 700px;
		background-position: center top;
	}


	@at-root .actions {
		&__btn {
			@extend %display-inline-block;
			color: #fff;
			letter-spacing: 0.2px;

			&--login {
				line-height: 36px;
			}

			&--signup {
				margin: 0 0 0 16px;
				padding: 0 15px;
				border: 2px solid #fff;
				border-radius: $btnBorderRad;
				line-height: 32px;
			}
		}	
	}

	&__title {
		margin: 115px 0 0;
		font-size: 21px;
		text-transform: uppercase;
		letter-spacing: 0.3px;
	}

	&__slogan {
		margin: 28px 0 0;
		font-size: 29px;
		text-transform: uppercase;
		letter-spacing: 0.9px;
	}

	&__text {
		margin: 10px auto 0;
		padding: 0 35px;
		font: 18px/1.2 $Roboto;
	}

	&__btn {
		margin: 16px 0 0;
		letter-spacing: 0.1px;
	}
}

.how-we-work {
	padding: 34px 0 20px;

	.section__title {
		margin: 0 0 14px;
	}
}
.hww-item__block {
	text-align: center;
}

.hww-item {
	position: relative;
	height: 240px;
	max-width: 300px;
	margin: 0 auto 10px;
	padding: 68px 18px 20px;
	background: url(../img/hww-step1.jpg) center center no-repeat;
	border-radius: 4px;
	color: #fff;
	text-align: left;
	overflow: hidden;

	@include media(650px) {
		display: inline-block;
		vertical-align: top;

		&:nth-child(2) {
			margin-left: 20px;
			margin-bottom: 20px;
		}
	}

	&:nth-child(2) {
		padding-top: 99px;
		background-image: url(../img/hww-step2.jpg);
	}

	&:nth-child(3) {
		background-image: url(../img/hww-step3.jpg);
	}

	&:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.6));
		z-index: 0;
	}

	&__step {
		@extend .btn;
		position: relative;
		max-width: 70px;
		font: 300 10px $Montserrat;
		line-height: 20px;
		letter-spacing: 1.6px;
		text-align: center;
		text-transform: uppercase;
		z-index: 99;
	}

	&__title {
		position: relative;
		margin: 14px 0 0;
		font-size: 24px;
	}

	&__desc {
		position: relative;
		margin: 12px 0 0;
		color: #ccc;
		font: 300 14px/17px $Roboto;
	}
}

.partners {
	padding: 4px 0 0;
	text-align: center;

	.section__title {
		margin-bottom: 13px;
	}

	&__btn {
		margin-left: -3px;
		background: transparent;
		border: 2px solid;
		color: $baseColor;
		line-height: 38px;
	}
}

.partner {
	max-width: 300px;
	margin: 0 auto 27px;
	text-align: center;

	&__img {
		@extend %display-inline-block;
		position: relative;
		width: 120px;
		height: 120px;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__hobby {
		position: absolute;
		right: -3px;
		bottom: -4px;
		width: 39px;
		height: 39px;
		background: #000;
		border: 4px solid #fff;
		border-radius: 50%;

		&:after {
			position: absolute;
			top: 50%;
			left: 50%;
		}

		&--tv {
			background: $baseColor;
			
			&:after {
				@include sprite($partner-hobby-tv);
			}
		}
		&--science {
			background: #ffa507;

			&:after {
				@include sprite($partner-hobby-science);
			}
		}
		&--coffee {
			background: #1cd7ad;

			&:after {
				@include sprite($partner-hobby-coffee);
			}
		}
		&--msg {
			background: #4e73db;

			&:after {
				@include sprite($partner-hobby-msg);
			}
		}
	}

	&__name {
		margin: 19px 0 0;
	}

	&__desc {
		max-width: 73%;
		margin: 13px auto 0;
		color: #666;
		font: 300 14px/1.2 $Roboto;
	}
}

.ideas {
	padding: 33px 0 10px;
	text-align: center;

	.section__title {
		margin: 0 0 12px;
	}

	&__item {
		position: relative;
		max-width: 300px;
		height: 120px;
		margin: 0 auto 10px;
		border-radius: 4px;
		overflow: hidden;

		img {
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
		}
	}

	&__center {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&__text {
		padding: 0 10px;
		color: #fff;
		font-size: 22px;
	}
}

.search {
	padding: 16px 0 39px;
	text-align: center;
}
.search-form {
	margin: 9px 0 0;
	
	&__title {
		font: 300 18px $Roboto;
	}

	&__input {
		display: block;
		width: 100%;
		max-width: 280px;
		margin: 14px auto 0;
		padding: 0 15px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-shadow: 0px 1px 0px 0px rgba(238, 238, 238, 0.004);
		line-height: 38px;
		font-family: $Roboto;
		font-weight: 300;

		&:focus {
			outline: none;
		}
	}

	&__btn {
		display: block;
		margin: 9px auto 0;
		font-family: $Montserrat;
		font-weight: 700;
	}
}

.footer {
	padding: 16px 0;
	border-top: 4px solid $baseColor;
	text-align: center;

	&__title {
		color: $baseColor;
		font-size: 16px;
		text-transform: uppercase;
	}

	&__heading {
		margin: 12px 0 0;
	}

	&__menu {
		li {
			@extend %display-inline-block;
		}
		a {
			display: block;
			margin: 0 6px;
			color: #666;
			font: 300 14px $Roboto;
		}
	}
}
.partner-small {
	margin: 13px 0 0;

	&__desc {
		font-size: 10px;
		color: #ccc;
		text-transform: uppercase;
	}
	&__img {
		margin: 8px 0 0;
	}
}